target/
.mvn/
bin/
.sts4-cache/
*.versionsBackup
.settings/
.project
.classpath
.factorypath
.idea/
*.ipr
*.iml
*.iws
*.log
*.gz
*.cache
*.diff
*.patch
*.tmp
app.jar
.DS_Store
Thumbs.db
gitlabci/.generated
